In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
test = pd.read_excel('data/tweety.xlsx')
train = pd.read_excel('data/tweety1.xlsx')

In [3]:
test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964  @user #white #supremacists want everyone to se...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [4]:
train.head()

   id  label                                              tweet
0   1      0  @user when a father is dysfunctional and is so...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

# cleaning the data

In [ ]:
# Using the python regular expressions to clean the data

In [5]:


def cleaner(text):
   text   = re.sub(r"[^a-zA-Z\s]","",str(text))
   return text

In [ ]:
# creating new clean tweet columns

In [6]:

train['new_tweet']=train['tweet'].apply(cleaner)
test['new_tweet']=test['tweet'].apply(cleaner)

In [7]:
train.head()

,id,label,tweet,new_tweet
0,1,0,@user when a father is dysfunctional and is so...,user when a father is dysfunctional and is so ...
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ur
4,5,0,factsguide: society now #motivation,factsguide society now motivation

In [8]:
test.head()

,id,tweet,new_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife requires passion dedication...
1,31964,@user #white #supremacists want everyone to se...,user white supremacists want everyone to see t...
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your acne altwaystoheal h...
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",rd bihday to my amazing hilarious nephew eli...

# Training the model

In [ ]:
# Importing tfid vectorizer to convert text data into vector form because ml model can understand only numbers
# Importing naive bias to classify the tweets

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import GaussianNB

In [10]:
tfidf = TfidfVectorizer()
gnb = GaussianNB()

In [ ]:
# Creating the independent features and dependent variable

In [11]:
x_train = train['new_tweet']
x_test = test['new_tweet']
y_train= train['label']

In [ ]:
# converting the text data into array of numbers

In [12]:
X_train_tfidf = tfidf.fit_transform(x_train).toarray()
X_test_tfidf = tfidf.transform(x_test).toarray()

In [13]:
X_train_tfidf

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
# converting the dependent variable to numpy array

In [16]:
y_train = y_train.to_numpy()

In [ ]:
# Training the model with train data

In [17]:
gnb.fit(X_train_tfidf,y_train)

MemoryError: Unable to allocate 9.47 GiB for an array with shape (31962, 39758) and data type float64

# Getting the error because of the high memory usage of the array.
# I tried using vaex module but its taking too long